################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/First Project/.vs/First Project
